*
!init.lua
!lua/
!lua/*.lua
!syntax/
!syntax/*.vim
!ftdetect/
!ftdetect/*.vim
!index.html
!i
!README.md
!LICENSE
!.gitignore
!CHANGELOG.md
!.github/
!.github/**
!scripts/
!scripts/*.html
!scripts/*.js
!scripts/*.py
